:root {
  --carousel-time: 180s;
}

body {
  min-height: 100%;
  margin: 0;
}

header {
   text-align: center;
   font-size:clamp(16px, calc(16px + (28 - 16) * ((100vw - 360px) / 1560)), 48px);
   justify-content: center;
   display: block;
   padding: 0 130px;
}


nav {
  height: 100%;
  width: 130px;
  top: 30px;
  left: 0px;
  float: left;
  position: absolute;
}

.nav_list {
    list-style-type: none;

}
main {
  margin-left: 0px;
  margin-top: 70px;
}

/* Thank you codeacademy for gallery code */
.gallery {
  margin-top: 20px;
  padding-top: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  margin: 10px;
}

.gallery-item .thumbnail {
  border: 5px solid #fff;
  width: 200px;
  height: 200px;
}

.carousel-container {
  position: relative;
  margin: auto;
  width: 400px;
  height: 400px;
}

.carousel-object {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: rotate var(--carousel-time) linear infinite;
  animation-delay: calc(-1*var(--carousel-time)*var(--carousel-position));

  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg) translateX(40%) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translateX(40%) rotate(-360deg);
  }
}

.circle-img {
  border-radius: 50%;
  filter: blur(1px);
  width: 45%;
  height: 45%;
  display: block;
  position: absolute;
  border-style: outset;
  border-color: black;
}

.circle-txt{
position: absolute;
text-align: center;
font-size: 20px;
font-weight: bold;
background: rgb(255,255,255);
background: rgba(255,255,255,0.5);
color: black;
}

p{
  font-size: 16px;
}
